h1 {
    text-align: center;
    font-family: cursive;
    font-style: italic;
    color: black;
    font-size: 80px;
}
p {
    font-style: italic;
    background-color: black;
    color: chocolate;
    font-size: 50px;
}
ol {
    background-color: burlywood;
    color: darkgreen;
}
body {
    background-color: paleturquoise;
}
a {
    color: black;
}

b {
    background-color: crimson;
    color: dimgray;
    font-style: italic;
}